@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 margin: 0px;
 box-sizing: border-box;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4299e1;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #EDF2F7;
  }